.timer 
   width: 550px
   display: block
   max-width: 100%
   color : $text-color2
   +mediaMax(sm)
      width: 100%

   h3 
      width: 100%
      font-size: 26px
      letter-spacing: 4px
      text-align: center
   

   &--clock 
      width: 100%
      position: relative
      padding-left: 0
      margin-top: 0
      overflow: hidden
      +d-flex
      +ai(center)
      +jc(center)

      .clock-display-grp 
         width: auto
         position: relative

         .number-grp 
            width: auto
            display: block
            height: 95px
            float: left
            width: 65px
            line-height: 1
            // letter-spacing: 1.038rem
            overflow: hidden
            max-width: calc(100vw/9.5)
            +mediaMax(xl)
               height: 75px

            .number-grp-wrp 
               width: 100%
               position: relative

               .num 
                  width: 100%
                  position: relative
                  height: 95px

                  p 
                     width: auto
                     text-align: center
                     margin: auto
                     display: table
                     font-size: 5.938rem
                     line-height: 1
                     margin-bottom: 0
                     color: $color2
                     +f700
                     font-weight: bold
         +mediaMax(sm)
            .number-grp 
               width: 45px
               height: 60px
               .number-grp-wrp 
                  .num
                     height: 60px
                     +d-flex
                     +ai(center)
                     p
                        font-size: 4.625rem
                        margin: auto
            

                  

               

            

         
      

      .clock-separator 
         width: auto
         float: left
         display: block
         height: 95px
         line-height: 84px
         width: 40px
         text-align: center
         +mediaMax(xl)
            height: 75px
            line-height: 66px
         p 
            width: auto
            display: table
            font-size: 5.938rem
            font-weight: bold
            color: $color2
            margin: auto
         

      

   
   h4 
      width: 100%
      font-size: 10px
      letter-spacing: 6px
      text-align: center
      padding-top: 0
      float: left
   


.reload 
   width: 125px
   height: 14px
   position: absolute
   bottom: 50vh
   left: 50%
   margin-left: -(125px / 2)
   opacity: 0
   display: none
   cursor: pointer
   z-index: 9999
   
   &:hover 
      svg path  
        fill: darken(white, 60%) 
      p  
        color: darken(white, 60%) 
   
   
   svg 
      width: 12px
      height: 12px
      float: left
      margin-right: 10px
   
   p 
      color: #2b2b2b
      font-size: 12px
      float: left
      line-height: 11px
   
