span.wpcf7-list-item
    margin-left: 0
.swiper-container-free-mode>.swiper-wrapper
    margin-bottom: 22px
.swiper-container-horizontal>.swiper-scrollbar
    border-radius: 0
    height: 9px
    width: 100%
    left: 0
    background-color: $color3
.swiper-container-vertical>.swiper-scrollbar
    border-radius: 0
    // height: 100%
    width: 9px
    // right: 0
    // top: 0
    background-color: $color3
.swiper-scrollbar-drag
    cursor: pointer
    background-color: #fff
.wpcf7-response-output, .wpcf8-response-output
    display: none !important
.micro_modal input.wpcf7-not-valid
    box-shadow: none
.mdc-snackbar
    z-index: 10001
.mdc-snackbar__surface
    background-color: $color1
    border: 1px solid #565c76
body#tinymce
    margin: 9px 10px