.light-title
    color: #ffffff
    +f-black
    font-size: 62px
    line-height: 62.5px
    text-transform: uppercase
    b
        color: $color3
        display: block
.line-before
    position: relative
    padding-left: 11px
    +before
        width: 2px
        height: 100%
        background-color: $secondary1
        top: 0
        left: 0
        bottom: 0
        margin: auto
.btn
    position: relative
    &.light
        background-color: $secondary1
        padding: 20px
        border-radius: 0
        color: $color1
        +f700
        font-size: 21px
        line-height: 18px
        height: 58px
        box-shadow: 0 0 0 0 $secondary1
        transition: all 0.35s cubic-bezier(0, 0.49, 0, 2.4)
        +hover
            box-shadow: 0 -1px 17px 0px $secondary1
        +mediaMax(sm)
            padding-left: 15px
            padding-right: 15px
        &[disabled]
            +hover
                box-shadow: none
        .icon
            width: 36px
            height: 10px
            margin-left: 10px
    &.default
        color: #fff
        border: 1px solid #657c8e
        border-radius: 0
        padding: .65rem 2.7rem
        position: relative
        &.v2
            padding: .65rem 2rem
        .icon
            fill: $text-color2
            width: 36px
            height: 10px
            position: absolute
            left: -18px
            top: 0
            bottom: 0
            margin: auto
        +hover
            background-color: $color3

.icon
    &.icon-arrow 
        width: 20px
        height: 20px
    &.icon-vk
        width: 25px
        height: 30px
    &.icon-facebook
        width: 20px
        height: 20px
    &.icon-odnoklassniki
        width: 20px
        height: 20px
    &.icon-twitter
        width: 20px
        height: 20px
    &.icon-google-plus
        width: 25px
        height: 30px
.tribefore
    +before
        bottom: 0
        left: 0
        width: 62px
        height: 62px
        border-bottom: solid 31px $secondary1
        border-left: solid 31px $secondary1
        border-right: solid 31px transparent
        border-top: solid 31px transparent
    +mediaMax(lg)
        &.xl-only
            +before
                display: none
.triafter
    +after
        bottom: -5px
        right: 0
        width: 62px
        height: 62px
        border-bottom: solid 31px $secondary1
        border-right: solid 31px $secondary1
        border-left: solid 31px transparent
        border-top: solid 31px transparent
    &.v2:not(.tri-title)
        +after
            border-bottom: solid 31px transparent
            border-right: solid 31px $secondary1
            border-left: solid 31px transparent
            border-top: solid 31px $secondary1
            top: 0
    &.tri-small
        +after
            width: 12.5px
            height: 12.5px
            border-width: 12.5px
    &.tri-medium
        z-index: 1
        +after
            width: 1.334rem
            height: 1.334rem
            border-width: 1.334rem
            bottom: 10px
            right: -3px
            z-index: -1
            +mediaMax(sm)
                bottom: 3px
    &.tri-title
        padding-right: 6px
    +mediaMax(lg)
        &.xl-only
            +before
                display: none
.col-title
    display: block
    +ai(center)
    margin-top: 100px
    margin-bottom: 15px
.tri-title
    &.page-title
        +f-black
        margin-top: 100px
        font-size: 3.875rem
        color: #fff
        line-height: 5.149rem
        text-transform: uppercase
        display: inline
        +before
            display: none
        b
            color: $color3
    &.default
        +f700
        font-size: 2.063rem
        text-transform: uppercase
        color: #fff
        b
            color: $color3
        +_before
        &.d2
            font-size: 1.313rem
            +f-extra
            b
                color: $color1
            +mediaMax(sm)
                font-size: 2.5rem

    &.multi
        +before
            display: none
        font-size: 1.53rem
        color: #fff
        text-transform: uppercase
        +f-black
        b
            color: $color3
            display: block
    +before
        width: calc(100% - 6px)
        bottom: 3px
        left: 0
        height: 1px
        background-color: $color3
        z-index: 1
    +hover
        text-decoration: none
    &.v2
        +before
            display: none
        font-size: 3.675rem
        line-height: 3.906rem
        +f-black
        text-transform: uppercase
        z-index: 1
        &.triafter
            +after
                width: 1.334rem
                height: 1.334rem
                bottom: -3px
                right: 8px
                border-bottom: solid 1.334rem $secondary1
                border-right: solid 1.334rem $secondary1
                border-left: solid 1.334rem transparent
                border-top: solid 1.334rem transparent
                z-index: -1
        b
            color: $color3
            display: block
.checkbox.simple-group
    .wpcf7-list-item-label
        position: relative
        &:after
            box-shadow: 0 0 0px 0px #fff
            background-color: transparent
            transition: 0.35s all, opacity 0.25s 
            width: 5px
            height: 5px
            top: 4px
            left: 8px
            position: absolute
            margin: auto
            border-radius: 50%
            opacity: 0
    &:hover
        .wpcf7-list-item-label
            &:after
                box-shadow: 0 0 16px 6px #fff
                background-color: #ffffff6b
                // transition: 0.35s all
                opacity: 1
    label
        user-select: none
        text-align: left
        input
            position: absolute
            z-index: -1
            opacity: 0
            margin: 10px 0 0 20px
            &:checked + .wpcf7-list-item-label
                &:after
                    box-shadow: 0 0 0px 0px #fff
                    background-color: transparent
                    opacity: 0
                    // transition:  0.35s background-color
                .checkbox__text
                    &:after
                        opacity: 1
                    &:before
                        filter: grayscale(0)


            &:hover:not(:checked) + .wpcf7-list-item-label .checkbox__text:after
                opacity: .2
        .checkbox__text
            position: relative
            display: flex
            align-items: center
            height: 16px
            padding-left: 28px
            cursor: pointer
            transition: all .25s
            font-size: 1.063rem
            a
                color: #fff
            +before
                top: -10px
                left: -10px
                background: url('../images/check1.png') top right no-repeat
                background-size: cover
                width: 36px
                height: 38px
                filter: grayscale(100%)
            +after
                top: -7px
                left: 0
                background: url('../images/check2.png') top right no-repeat
                background-size: contain
                width: 28px
                height: 27px
                opacity: 0
    &.invalid
        .wpcf7-list-item-label:after
            -webkit-box-shadow: 0 0 16px 6px #fb7272
            background-color: #fb72726b
            opacity: .75
        &:hover .wpcf7-list-item-label:after
            -webkit-box-shadow: 0 0 16px 6px #a0e8a3
            background-color: #a0e8a36b
            opacity: 1
        label input:checked + .wpcf7-list-item-label:after
            -webkit-box-shadow: 0 0 0px 0px #fb7272
            background-color: transparent
            opacity: 0
    


.linebefore
    position: relative
    +before
        width: 2px
        height: 100%
        background-color: $secondary1
        left: -16px
        top: 0
.blue-text
    color: $color3
    +font
.white-link
    color: #fff
.page-bg
    width: 50vw
    min-height: 90vh
    height: 100%
    right: 0
    top: 0
    position: absolute
    background-repeat: no-repeat
    background-position: top left
    background-size: calc(50vw - (50vw - 700px)) auto
    display: none
    +mediaMin(lg)
        display: block
.fix-bg
    position: initial
.col-content.col-xl-6
    max-width: 650px
    +mediaMax(xl)
        max-width: 100%
.page-template-default,
.page-template-about
    +mediaMax(xl)
        .col-content.col-xl-6
            padding-right: 40px
    +mediaMin(xl)
        .col-addcontent.col-xl-6
            padding-left: 45px
    +mediaMin(xxl)
        .col-addcontent.col-xl-6
            padding-left: 100px
// .page-template-default
//     .col-addcontent.col-xl-6
//             +mediaMin(xl)
//                 padding-left: 45px
//             +mediaMin(xxl)
//                 padding-left: 55px
.grecaptcha-badge
    visibility: hidden
[data-loaded="true"] + .swiper-lazy-preloader
    display: none
.lazyload:not([data-loaded=true])
    opacity: 0
    transition-duration: .2s
.lazyload[data-loaded=true]
    opacity: 1