footer.floor
    height: initial
    max-height: 200px
    padding: 0
    border-bottom: 0
    .floor-nav
        padding-top: 35px
        padding-bottom: 35px
        height: 120px
        max-height: 120px
        +mediaMax(lg)
            max-height: 0
            padding: 0
        +mediaMax(xl)
            .btn
                display: none
    .main-floor
        border-top: 1px solid #44609c
        .row
            +d-flex
            width: 100%
            +jc(space-between)
            +f400
            font-size: 0.813rem
            color: #8d9dbf
            +ai(center)
            padding-top: 25px
            padding-bottom: 25px
            max-height: 75px
            +mediaMax(md)
                +jc(center)
                text-align: center
                max-height: initial       
        .phone-number
            color: #fff
            +f-semi
            font-size: 1.188rem
        .copyright
            +mediaMax(md)
                padding: 15px 0
                width: 100%

    .social-group
        list-style-type: none
        padding: 0
        margin-bottom: 0
        +d-flex
        +ai(center)
        a
            fill: $text-color2
            margin: 0 7px
            +hover
                fill: #8d9dbf