body
  --container: 100%
  +media-breakpoint-up(sm)
    --container: 540px
  +media-breakpoint-up(md)
    --container: 720px
  +media-breakpoint-up(lg)
    --container: 960px
  +media-breakpoint-up(xl)
    --container: 1140px

// main.wrap::before
//   content: ""
//   display: block
//   padding-top: 85px
//   background-color: #000
//   z-index: -1
//   pointer-events: none
//   +media-breakpoint-down(sm)
//     padding-top: 50px
.toggle-nav:not(.opened) span.less
  width: 20px
.toggle-nav.opened:not(.modal-close) span
  background-color: $secondary1
.toggle-nav span.less 
    right: 0
    left: initial
header, footer
  background-color: $color1
  height: 80px
  border-bottom: 1px solid #44609c
  display: flex
  flex-wrap: wrap
  align-items: center
  max-width: 100%
  max-height: 85px
  z-index: 999
  top: 0
  opacity: 1
  // position: fixed
  transition: top 0.35s, opacity 0.35s, height 0.35s, background-color 0.35s
  width: 100%
  left: 0
  +mediaMax(lg)
    &.bg
      position: fixed
      height: 65px
  +mediaMin(sm)
    .main-nav
      padding-left: 34px
      padding-right: 34px
  &:not(footer)
    +before
      background-color: $color2
      right: 0
      height: 100%
      top: 0
      width: 50vw
      z-index: -1
      max-height: calc(100% - .5px)
    // &.scrolling
    //   top: 0
    //   height: 60px
    //   opacity: 1
    //   background-color: #18191bc2
    //   &.scrolling.hide
    //     top: -85px
    //     opacity: 0
    +media-breakpoint-down(sm)
      // height: 50px
  .main-nav
    display: flex
    flex-wrap: wrap
    max-width: 100%
    align-items: center
    padding: 0 5px
    width: 100%
    mediaMin(xl)
      padding: 0 40px

    .logo-wrap
      +d-flex
      +ai(center)
      +media-breakpoint-down(sm)
      position: relative
      text-decoration: none
        // height: 50px
      .logo-text
        color: $text-color2
        +f700
        font-size: 1.463rem
        line-height: 1.463rem
        text-transform: uppercase
        max-width: 166px
        margin-left: 15px
        overflow: hidden
        max-height: 50px
        +mediaMax(xxl)
        @media (min-width: 1200px) and (max-width: 1439.98px) 
          font-size: 1.15rem
          margin-left: 10px
            // max-width: 140px
        b
          color: $color3
          display: block
     

      img
        width: 64px
        max-height: 100%
        display: block
        +mediaMax(xs)
          max-width: 45px
        +media-breakpoint-down(sm)
          padding: 10px 0 8px
          width: initial
        @media (min-width: 1200px) and (max-width: 1439.98px) 
          width: 51px
 
   

    .nav-menu
      display: flex
      flex-wrap: wrap
      align-items: center
      max-width: 100%
      margin-left: auto
      margin-right: auto

      a,
      span.cur
        padding: 17px 8.5px
        display: block
        color: #8d9ebf
        font-family: "Proxima Nova"
        font-size: 12px
        font-weight: 400
        line-height: 17px
        transition: 0.35s color
        max-width: 135px
        max-height: 51px
        +hover
          color: $text-color2
          text-decoration: none
        +media-breakpoint-down(md)
          padding: 15px 8px
          font-size: 11px
       
     
      li
        align-items: center
        display: flex
      li.current_page_item a,
      li.current_page_item .cur-text
        color: $text-color2
        cursor: default
        +after
          width: 100%
          height: 2px
          background-color: $secondary1
          bottom: -3px
    .nav-call
      color: $color3
      font-family: "Proxima Nova"
      font-size: 12px
      font-weight: 400
      line-height: 15px
      height: 20px
      +mediaMax(xl)
        margin-right: 10rem
      @media (min-width: 1200px) and (max-width: 1439.98px) 
        margin-right: 0
        a
          font-size: 1rem
      a
        color: $text-color2
        // font-size: 19px
        font-size: 1.188rem
      +mediaMax(xs)
        height: 36px
        display: block
        font-size: 0
        margin-right: calc(5rem - 8vw)
        a
          font-size: 0
      .call-img
        +mediaMin(sm)
          display: none        