.ink
    display: block
    position: absolute
    background: rgba(255, 255, 255, 0.2)
    border-radius: 100%
    transform: scale(0)
    pointer-events: none
    &.animate 
        animation: ripple 0.65s linear
+keyframes(ripple)
    100%
        opacity: 0
        transform: scale(2.5)
.menu-ink
    border-bottom: 2px solid #fff
    position: absolute
    bottom: 15px
    width: 0
    transition: all .8s cubic-bezier(0.54, 1.5, 0.72, 1)
    margin-left: 25px
    pointer-events: none
+keyframes(mmfadeIn)
	from
        opacity: 0
	to
        opacity: 1
+keyframes(mmfadeOut)
	from
        opacity: 1
	to
        opacity: 0
        
+keyframes(mmfadeOut)
	from
        opacity: 1
	to
        opacity: 0

.micro_modal
  display: none


.micro_modal.is-open
  display: block

.micro_modal

    &[aria-hidden='false'] .modal_overlay
        animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1)
 
    &[aria-hidden='false'] .modal_container,
       animation: tooltin 0.35s cubic-bezier(.54,1.5,.38,1.11)

    &[aria-hidden='true'] .modal_overlay
        animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1)
 

    &[aria-hidden='true'] .modal_container
        animation: tooltout 0.3s cubic-bezier(0, 0, 0.2, 1)

.mdc-snackbar--open .mdc-snackbar__surface
    transition: initial
    animation: tooltin 0.35s cubic-bezier(.54,1.5,.38,1.11)
.micro_modal .modal_container,
.micro_modal .modal_overlay
    will-change: transform
 
.close-text
    font-size: 0.75rem
    +font
    color: $color3
    position: absolute
    top: 32px
    pointer-events: none
    text-transform: uppercase
.modal-footer
    margin-top: 30px
.modal_overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 9999
    background-color: rgba(255, 255, 255, 0.95)
 

.modal_container
    width: 90%
    max-width: 460px
    border-radius: 0
    max-height: calc(100vh - 30px)
    position: relative
    box-shadow: 0 0 0.625rem 0.063rem rgba(0, 0, 0, 0.08)
    border-radius: 10px
    background-color: $color1
    padding: 30px 40px 38px
    text-align: center
    p
        color: $text-color2
        font-size: .95rem
        +f300
    +media-breakpoint-down(sm)
        padding: 50px 25px
    .simple-group
        text-align: center
    .submit-group
        margin-bottom: 65px
        margin-top: 36px
    .form-group.input-wrap
        max-width: 260px
        margin: 40px auto 0
        .lab-wrap, label
            text-align: left

        
.modal-title
    margin-top: 0
    margin-bottom: 0
    font-weight: 600
    font-size: 24px
    color: $black
.modal-header
    position: relative
.micro_modal .modal-close 
    height: 50px
    span
        pointer-events: none
.micro_modal .modal_close 
    right: 20px
    top: 20px
    position: absolute
    padding: 0 10px
    max-width: 40px
    height: 50px
    line-height: 40px
    border-radius: 50%
    &:hover
        cursor: pointer

.micro_modal
    .nav-link,
    .nav-link.active,
    .nav-tabs
        background: transparent
        border: none
    .nav-link
        color: #6467b4
        +font
        font-size: 25px
        line-height: 20px
    .nav-link.active
        color: $text-color2

.modal-content
    margin-top: 30px
    margin-bottom: 30px
    color: rgba(0, 0, 0, 0.8)
.micro_modal.fullscreen-modal .modal_container
    max-width: 90vw
    height: 90vh
    max-height: 66vw
    padding: 50px 0 0
    .icon.icon-close 
        height: 26px
        width: 25px
    .modal-content
        height: 100%
        iframe
            height: 100%
            width: 100%
.micro_modal.big-modal .modal_container
    max-width: 800px
.micro_modal .payment 
    justify-content: space-between
    .payment img 
        max-width: 50%
.micro_modal .dropdown .dropdown-toggle, .drop-form.static.v2 .dropdown-toggle
    color: #1d242b
.micro_modal .dropdown.is-filled .dropdown-toggle,.drop-form.static.v2 .dropdown.is-filled .dropdown-toggle
    color: #1d242b
.part-title
    color: $text-color2
    font-size: 1.56rem
    +font
    line-height: 30px
    &.v2
        font-size: 1.56rem
+mediaMax(sm)
    .micro_modal.big-modal .modal_container
        padding: 30px
        +media-breakpoint-down(md)
            overflow-y: scroll
.micro_modal .dropdown-toggle::after 
    right: 15px
    position: absolute
    top: 0
    bottom: 0
    margin: auto
    height: 6px
.micro_modal .dropdown-toggle
    position: relative
    color: #1d242b
.micro_modal .dropdown-toggle .choice
    display: block
    position: relative
    text-align: left
.micro_modal .dropdown .dropdown-menu
    width: 100%
.micro_modal .dropdown .dropdown-menu .dropdown-item
    text-align: left
    padding: 8px 15px
.micro_modal .form-group br
    display: none
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus 
  border: 1px solid #657c8e
  -webkit-text-fill-color: $color3
  -webkit-box-shadow: 0 0 0px 1000px $color1 inset
  transition: background-color 5000s ease-in-out 0s
.micro_modal .form-init input:not([type="submit"]):focus,.micro_modal .form-init textarea:focus
    border-color: #dcdcdc
.micro_modal .form-init textarea
    height: 133px
    padding: 10px 15px
    margin: 0 0 15px
span.wpcf7-not-valid-tip
    pointer-events: none
    position: absolute
    top: 9px
    bottom: 0
    left: 15px
    font-size: .85rem !important
    color: #e05252
    +font
.micro_modal input.wpcf7-not-valid
    // box-shadow: 0 0 1px #bb4141
