.page-template:not(.page-template-frontpage),.single, .page-template-default, .archive
    background-color: $color1
    main.wrap
        min-height: 70vh
        position: relative
        +mediaMin(sm)
            padding-left: 34px
            padding-right: 34px
    &.page-template-services,&.single-uslugi, &.single-post, &.tax-brands
            .row-services
                margin-top: 55px
            .row-services:not(.swiper-container)
                margin-bottom: 27px
            .service-slide, .service-cost
                +mediaMin(lg)
                    &.col-lg-6
                        max-width: calc(50% - 15px)
                        flex: 0 0 calc(50% - 15px)
                .item-wrapper
                    padding: 16px 0 16px 27px
                    +mediaMax(xs)
                        padding-right: 27px
                    margin-bottom: 10px
                    +jc(space-between)
                    +ai(center)
                    +d-flex
                    +before
                        background-color: rgba(255, 255, 255, 0.02)
                        width: calc(100% - 43px)
                        height: 100%
                        left: 0
                        top: 0
                        z-index: 0
                        pointer-events: none
                        +mediaMax(xs)
                            width: 100%
                    .item-title
                        font-size: 1.313rem
                        color: $text-color2
                        +f-semi
                        width: 53%
                        +mediaMax(xl)
                            width: 45%
                        +mediaMax(xs)
                            width: 100%
                            margin-bottom: 14px
                        
                        
                    .item-price
                        font-size: 1.563rem
                        +f-extra
                        color: $color3
            .service-cost
                margin-bottom: 20px
                margin-top: 20px
                max-width: 650px
                +mediaMax(lg)
                    max-width: 100%
                .item-wrapper
                    padding-right: 27px
                    +before
                        width: 100%
                    &.result
                        background-color: $color3
                        font-size: 2.063rem
                        text-transform: uppercase
                        line-height: 1
                        +f700
                        +mediaMax(xs)
                            font-size: 1.1rem
                        .item-price
                            color: $color2
                            font-size: 2.063rem
                            line-height: 1
                            +mediaMax(xs)
                                font-size: 1.5rem
                        .result-garant
                            width: 100%
                            font-size: 1.063rem
                            text-transform: none
                            +mediaMax(xs)
                                font-size: .95rem
                                margin-top: 6px
            .col-addservice
                +mediaMin(xl)
                    padding-left: 35px
                .col-title
                    font-size: 2.063rem
                    +f700
                    text-transform: uppercase
                    margin-bottom: 30px
                    a
                        color: $text-color2
                .row-services
                    .col-title
                        margin-top: 0
.single
    .col-addcontent
        margin-top: 15px
    
.archive .row-models
    .item-brand
        +d-flex
        +ai(center)
        +jc(space-between)
        margin: 12.5px 0
        padding-left: 1.5rem
        // max-width: 100%
        // width: 360px
        padding-right: 1.5rem
        height: 50px
        background-color: transparent
        box-shadow: 0 0 0px 0px $color3
        color: $text-color2
        text-decoration: none
        background-color: rgba(20, 27, 60, 0.7)
        box-shadow: 0 0 4px -1px $color3 
        transition: .25s all
        +mediaMax(lg)
            justify-content: center
            border-bottom: 1px solid #44609c
        &:hover
            background-color: #2d3754
               
.page-template-brands
    .col-title
        margin-bottom: 70px
    .col-content
        margin-left: -50px
        margin-right: -50px
        margin-bottom: 100px
        +mediaMax(md)
            margin-left: 0
            margin-right: 0
        +d-flex
        .item-brand
            margin: 0 50px
            max-width: calc(50% - 100px)
            width: calc(50% - 100px)
            padding-right: 1.5rem
            +mediaMax(sm)
                max-width: 50%
                width: 50%
                margin: 0
            +d-flex
            +ai(center)
            +jc(space-between)
            height: 100px
            background-color: transparent
            box-shadow: 0 0 0px 0px $color3
            color: $text-color2
            text-decoration: none
            transition: .25s all
            +mediaMax(lg)
                justify-content: center
            &:nth-child(odd),&:last-child,&:nth-last-child(2)
                border-bottom: 1px solid #44609c
                &:hover
                    background-color: rgba(20, 27, 60, 0.7)
                    box-shadow: 0 0 4px -1px $color3 
            &:nth-child(even),&:first-child
                border-top: 1px solid #44609c
                &:hover
                    background-color: rgba(24, 37, 74, 0.7)
                    box-shadow: 0 0 4px -1px $color3 
            &:first-child
                &:hover
                    background-color: rgba(20, 27, 60, 0.7)
                    box-shadow: 0 0 4px -1px $color3  
            +mediaMax(sm)
                &:nth-child(odd):not(:last-child),&:nth-child(even):not(:first-child) 
                    margin-top: -1px
            +mediaMin(lg)
                &:nth-child(odd)
                    margin-right: 0
                    max-width: calc(50% - 50px)
                    width: calc(50% - 50px)
                &:nth-child(even)
                    margin-left: auto
                    margin-right: 0
            +mediaMin(xl)
                &:nth-child(odd)
                    max-width: calc(50% - 68px)
                    width: calc(50% - 68px)
                
                
        .item-content 
            max-width: 17.8rem
            width: 284px
            +f300
            font-size: 1.313rem
            margin-left: 5rem
            +mediaMax(lg)
                display: none
            p
                margin-bottom: 0
        .item-img
            max-width: calc(100% - 26.313rem)
            padding-left: 10px
            +d-flex
            +jc(center)
            +ai(center)
            +mediaMax(sm)
                padding-left: 15px
                padding-right: 15px
            +mediaMax(lg)
                max-width: initial
            img
                max-width: 100%
                max-height: 100%
                height: auto
                +mediaMax(lg)
                    max-height: 80px
                    width: 200px
.page-template-contacts
    .col-addcontent.map
        min-height: 75vh
        +bg('../images/map-bg.png')
        background-size: cover
        background-position: 50% 50%
        margin-left: auto
        // margin-bottom: -15px
        +mediaMin(xl)
            width: calc(50vw - (50vw - 700px))
    .col-content
        margin-bottom: 60px
.page-template-default
    +mediaMin(xl)
        .col-addcontent
            padding-left: 20px
    +mediaMax(lg)
        .page-bg
            display: none
.page-template-contacts
    .page-bg
        max-width: calc(50vw - (50vw - 700px))
        right: calc(50vw - 700px)
        background: $color2
.page-template-reviews
    .swiper-container
        height: 606px
        max-width: 100%
        .swiper-wrapper
            max-width: calc(100% - 18px)
            margin-right: auto
            margin-left: 0
    .service-cost
        max-width: 650px
        margin-top: 35px
    .result.review
        padding: 35px 2.7rem
        margin-bottom: 31px
        background-color: $color3
        +d-flex
        +ac(flex-start)
        height: auto
        width: auto
        +jc(center)
        flex-direction: column
        .review-body
            margin-top: 25px
            margin-bottom: 35px
            +mediaMax(xs)
                p
                    font-size: 1.3rem
.page-template-about
    .col-masters
        margin-top: 50px
        h3
            font-size: 2.375rem
            +f-thin
            line-height: 1
    .form-init.horizontal-form form
        +jc(flex-start)
        .simple-group.checkbox .your-consent
            width: 100%
    .masters-carousel
        max-width: 650px
        margin-left: 0
        margin: 20px auto 50px 0
        .img-wrap
            margin-bottom: 26px
            max-height: 220px
            overflow: hidden
            +d-flex
            +ai(center)
            +jc(center)
            img
                max-height: 250px
                width: auto
                margin: auto
        .item-title
            +f-thin
            text-align: center
            font-size: 1rem
            margin-bottom: 11px
            +mediaMax(sm)
                font-size: 2rem
        .item-body
            +f700
            text-align: center
            font-size: 0.813rem
            +mediaMax(sm)
                font-size: 1.75rem
.error404
    background-color: $color1
    main.wrap
        min-height: 70vh
        position: relative
        .container
            margin: auto
            left: 0
            right: 0
.archive
    .container.position-absolute
        margin: auto
        left: 0 
        right: 0
