section
    padding-top: 1px
    padding-bottom: 1px
    &.order,&.troubles,&.promotion,&.benefits
        background-color: $color2
    &.hero
        // overflow: hidden
        +before
            background-color: $color2
            right: 0
            height: 100%
            top: 0
            width: 50vw
            z-index: 0
        .tribefore:before
            right: calc(50vw - 62px)
            left: initial
        .container
            > * 
                z-index: 1
        padding-top: 99px
        background-color: $color1
        +mediaMin(sm)
            padding-left: 34px
            padding-right: 34px
        .section-title
            // font-weight: 400
            font-size: 5.813rem
            line-height: 5.149rem
        .hero-img
            position: relative
            top: 0
            width: 100%
            max-height: 485px
            +d-flex
            +jc(center)
            +ai(flex-start)
            max-width: 100%
            +mediaMin(xl)
               //max-height: calc(35vw + 15vh)
                max-height: 440px
            +mediaMax(md)
                max-height: 440px
                height: 75vw
            +mediaMax(xs)
                //max-height: calc(35vw + 15vh)
            img
                max-width: initial
                height: auto
                top: 0
                width: auto
                position: relative
                margin-top: -50px
                pointer-events: none
                +mediaMax(lg)
                    min-height: 80vw
                    /* top: -25%; */
                    max-width: 180vw
                +mediaMin(xl)
                    max-width: 150%
                +mediaMax(md)
                    height: 160%
                    width: auto
            &.option1
                +mediaMax(md)
                    margin: auto
                    width: auto
                +mediaMax(lg)
                    text-align: center
                img
                    margin-top: -13px
                    pointer-events: none
                    max-height: 172%
                    +mediaMax(lg)
                        max-height: calc(100% + 50px)
                        width: 64%
                        margin: -28px auto 0
                        min-height: initial
                        max-width: 100%
                    +mediaMax(md)
                        height: 160%
                        width: auto
                        
                        
                    
        .add-info
            +f300
            color: $text-color2
            font-size: 17px
            // padding: 0 90px
            width: 100%
            max-width: 560px
            margin: auto
            width: 85%
            justify-content: space-between
            .col-auto
                margin: auto
                max-width: 33%
                width: 33%
                flex: 1 1 33%
                .line-before
                    display: block
                    color: #fff
                    +mediaMin(xl)
                        font-size: 1.1rem
        .hero-desc
            +f300
            font-size: 2.063rem
            margin-top: 50px
            margin-bottom: 40px
            line-height: 1.5
            span
                display: inline-block
            mediaMax(md)
                font-size: 2.963rem
        .social-hero 
            margin-top: 100px
            list-style-type: none
            padding: 0
            +d-flex
            +ai(center)
            a
                fill: $text-color2
                margin: 0 7px
                +hover
                    fill: $color3
    &.troubles
        background-color: $color1
        padding: 37px 0
        .row-troubles
            margin-left: -25px
            margin-right: -25px
            +d-flex
            .col-12
                margin-bottom: 45px
        .item-wrapper 
            width: calc(100% - 50px)
            margin: auto
            padding: 30px 25px
            position: relative
            +d-flex
            flex-direction: column
            +ai(start)
            +ji(center)
            height: 100%
            max-height: 510px
            +mediaMax(lg)
                background: rgba(255, 255, 255, 0.02)
            +hover
                background: rgba(255, 255, 255, 0.02)
            .item-count 
                opacity: 0.05
                color: $color3
                font-size: 13rem
                position: absolute
                top: 5%
                +f-thin
                bottom: 0
                right: 30px
                pointer-events: none
            .item-title
                max-height: 97px
                overflow: hidden
            .tri-title
                font-size: 1.8rem
                line-height: 2.65rem
                color: $text-color2
                +f-black
                text-transform: uppercase
                border-bottom: 1px solid $color3
                padding-bottom: 0px
                +_before
                +hover
                    color: $color3
            .item-body
                padding: 50px 0 25px
                a
                    color: $text-color2
                    +f300
                    font-size: 1.063rem
                    margin-bottom: 25px
                    display: block
                    max-height: 50px
                    overflow: hidden
                    text-overflow: ellipsis
                    display: -webkit-box
                    -webkit-line-clamp: 2
                    -webkit-box-orient: vertical
                    +mediaMax(sm)
                        font-size: 1.5rem
            .item-actions
                +d-flex
                +jc(space-between)
                +ai(center)
                margin-top: auto
                padding-left: 18px
                .item-price
                    color: $color3
                    +f-extra
                    font-size: 1.313rem
                    margin-top: auto
                    max-width: calc(100% - 190px)
                    overflow: hidden
        &.option1
            padding-top: 95px
    &.order
        +before
            background-color: $color1
            width: 100%
            height: 100%
            pointer-events: none
            z-index: 0
        +mediaMax(lg)
            +after
                width: 100%
                height: 100%
                pointer-events: none
                z-index: 0
                left: 0
                top: 0
                +bg('../images/order.jpg')
                opacity: 0.15
        .bg-col img
            position: absolute
            right: -12%
            max-width: 85vw
            height: 100%
            width: auto
            max-width: initial
        .form-col
            +d-flex
            +ai(center)
            +jc(start)
            padding: 100px 0 272px
            +mediaMax(lg)
                padding-bottom: 83px
            padding-left: 45px
            z-index: 0
            background-color: $color1
            .submit-group
                margin-bottom: 64px
                +mediaMax(sm)
                    margin-bottom: 20px
            .form-group.input-wrap
                margin-bottom: 50px
                margin-top: 55px
            +mediaMax(xs)
                padding: 50px 10px 50px 20px

    &.benefits
        margin-top: -189px
        +mediaMax(lg)
            margin-top: 0px
        .ben-row
            margin-left: -25px
            margin-right: -25px
            .triafter:after
                bottom: 0
            .col-12:nth-child(-n+3)
                .triafter:after
                    border-bottom: solid 31px transparent
                    border-right: solid 31px $secondary1
                    border-left: solid 31px transparent
                    border-top: solid 31px $secondary1
                    top: 0
        .item-wrapper
            background-color: #0e163a
            position: relative
            padding: 85px 25px 60px 45px
            margin: 25px
            height: calc(100% - 50px)
            +d-flex
            +mediaMax(lg)
                padding-top: 45px
                padding-bottom: 45px
            .tri-title
                min-height: 3rem
            .item-body
                margin-bottom: 50px
                margin-top: 40px
                color: $text-color2
                font-size: 1rem
                +f300
                +mediaMax(sm)
                    font-size: 1.35rem
            .item-actions
                padding-left: 18px
            .item-bg
                position: absolute
                width: 100%
                height: 100%
                top: 0
                left: 0
                opacity: 0.2
                pointer-events: none
                z-index: 0
                img
                    width: 100%
                    height: 100%
    &.promotion
        padding-top: 65px
        padding-bottom: 65px
        +after
            +bg('../images/promobg.png')
            top: 0
            left: 0
            width: 32%
            height: 100%
            background-repeat: no-repeat
            background-size: cover
            background-position: 100% 50%
            z-index: 0
        +before
            +bg('../images/promobg.png')
            right: 0
            transform: scaleX(-1)
            top: 0
            width: 32%
            height: 100%
            background-repeat: no-repeat
            background-size: cover
            background-position: 100% 50%
            z-index: 0
                    

        .promo-wrapper
            +d-flex
            +jc(center)
            +ai(center)
            flex-direction: column
            +font
            text-transform: uppercase
            line-height: 3.906rem
            font-size: 2.375rem
            z-index: 1
            b
                color: $color3
            .timer 
                background-color: $secondary1
                text-align: center
                +d-flex
                +jc(center)
                +ai(center)
                margin-top: 30px
                margin-bottom: 20px
            .promo-title-after
                text-align: center
                font-size: 2.375rem
.promo_md 
    section.hero .section-title
        font-size: 4.313rem
        line-height: 4.849rem
    footer .main-nav .logo-wrap .logo-text, header .main-nav .logo-wrap .logo-text
        font-size: 1.1rem
        line-height: 1.3rem
.promo_xs
    section.hero .section-title
        font-size: 3.6rem
        line-height: 3.849rem
    footer .main-nav .logo-wrap .logo-text, header .main-nav .logo-wrap .logo-text
        line-height: 1.3rem
        font-size: .9rem
footer .main-nav.img-only .logo-wrap img, header .main-nav.img-only .logo-wrap img
    max-height: 60px
    padding: 0
    max-width: 170px
    width: initial
    +mediaMin(xl)
        max-width: 200px