@font-face {
    font-family: Proxima Nova;
    font-weight: 100;
    font-display: swap;
    font-style: normal;
    src: local('Proxima Nova Thin'),
    url('./ProximaNovaT-Thin.woff') format("woff"),
    url('./ProximaNovaT-Thin.ttf') format('truetype')
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: local('Proxima Nova Regular'),
    url('./ProximaNova-Regular.woff') format("woff"),
    url('./ProximaNova-Regular.ttf') format('truetype')
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: local('Proxima Nova Semibold'),
    url('./ProximaNova-Semibold.woff') format("woff"),
    url('./ProximaNova-Semibold.ttf') format('truetype')
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: local('Proxima Nova Bold'),
    url('./ProximaNova-Bold.woff') format("woff"),
    url('./ProximaNova-Bold.ttf') format('truetype')
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 800;
    font-display: swap;
    font-style: normal;
    src: local('Proxima Nova Extrabold'),
    url('./ProximaNova-Extrabld.woff') format("woff"),
    url('./ProximaNova-Extrabld.ttf') format('truetype')
}

@font-face {
    font-family: Proxima Nova;
    font-weight: 900;
    font-display: swap;
    font-style: normal;
    src: local('Proxima Nova Black'),
    url('./ProximaNova-Black.woff') format("woff"),
    url('./ProximaNova-Black.ttf') format('truetype')
}