$font: "Proxima Nova";
$font-black: "Proxima Nova - Black";
$font-bold: "Proxima Nova - bold";
$font-extra: "Proxima Nova - Extrabld";
$font-thin: "Proxima Nova T - Thin";
$font-semi: "Proxima Nova - Semibold";

=font-face($font-family, $file-path, $weight: normal, $style: normal)
	@font-face
		font-family: $font-family
		font-weight: $weight
		font-display: auto
		font-style: $style
		src: url("../fonts/" + $file-path + ".woff2") format("woff2"), url("../fonts/" + $file-path + ".woff") format("woff")
// +font-face2($font, "ProximaNovaT-Thin", 100);
// +font-face2($font, "ProximaNova-Regular", 400);
// +font-face2($font, "ProximaNova-Semibold", 500);
// +font-face2($font, "ProximaNova-bold", 700);
// +font-face2($font, "ProximaNova-Extrabld", 800);
// +font-face2($font, "ProximaNova-Black", 900);
// wp_enqueue_style( $handle, $src, $deps, $ver, $media );
=font
    +Font($font, 400)
=f300
    +Font($font, 400)
=f400
    +Font($font, 400)
=f700
    +Font($font, 700)
=f500
    +Font($font, 500)
=f-semi
    +Font($font, 500)
=f-black
    +Font($font, 900)
=f-extra
    +Font($font, 800)
=f-thin
    +Font($font, 100)



$color1: var(--primary-color1);
$color2: var(--primary-color2);
$color3: var(--primary-color3);
$secondary1: var(--secondary-color1);
$text-color1: var(--text-color1);
$text-color2: var(--text-color2);
=mx-auto
    margin-left: auto
    margin-right: auto
=x-auto
    left: 0
    right: 0
=X-auto
    +mx-auto
    +x-auto
=px($value)
    padding-left: $value
    padding-right: $value
=py($value)
    padding-top: $value
    padding-bottom: $value
=ai($value)
    align-items: #{$value}
=ac($value)
    align-content: #{$value}
=ji($value)
    justify-items: #{$value}
=jc($value)
    justify-content: #{$value}
=d-flex
	display: flex
	flex-wrap: wrap
=after
	position: relative
	&:after
		content: ""
		position: absolute
		display: block
		@content
=before
	position: relative
	&:before
		content: ""
		position: absolute
		display: block
		@content
=_pseudo
	&:before
		display: none
	&:after
		display: none
=_before
	&:before
		display: none
=_after
	&:after
		display: none
=input-placeholder
	&.placeholder 
		@content
	&:-moz-placeholder 
		@content
	&::-moz-placeholder 
		@content
	&:-ms-input-placeholder
		@content
	&::-webkit-input-placeholder
		@content
=bg($url)
	background-image: url($url)
=_bg
	background-image: none
=mediaMax($name, $breakpoints: $grid-breakpoints)
    $max: breakpoint-max($name, $breakpoints);
    @if $max 
        @media (max-width: $max) 
            @content
    @else 
        @content
=mediaMin($name, $breakpoints: $grid-breakpoints)
    $min: breakpoint-min($name, $breakpoints);
    @if $min
        @media (min-width: $min) 
            @content
    @else 
        @content
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

body
    +Font($font, 400)
    color: $text-color2
    background-color: #fafafa
    font-size: 1rem

=bg($url)
	background-image: url($url)
=_bg
	background-image: none
.container
    +mediaMin(xxl)
        max-width: 1400px
    +mediaMax(sm)
        max-width: calc(100vw - 30px)
main.wrap
    overflow: hidden
+keyframes(tooltin)
	from
		opacity: 0
		transform: translateY(-5px) scale(.5)
	to
		transform: translateY(0) scale(1)
		opacity: 1
+keyframes(tooltout)
	from
		opacity: 1
		transform: translateY(0) scale(1)
	to
		opacity: 0
		transform: translateY(-5px) scale(.8)