html
    +mediaMax(xxl)
        --container: 1400px
        font-size: 100%
    +mediaMax(xl)
        --container: 1140px
        font-size: 85%
    +mediaMax(lg)
        --container: 960px
        font-size: 85%
    +mediaMax(md)
        --container: 720px
        font-size: 80%
    +mediaMax(sm)
        --container: 540px
        font-size: 70%
        p,span.blue-text, div
            font-size: 1.5rem
            line-height: 1.2
        h1,h2
            font-size: 3rem !important
            line-height: 3.5rem !important
        .tri-title
            font-size: 3rem
            line-height: 3.5rem
        .col-addcontent p, .col-content p
            font-size: 1.35rem
    +mediaMax(xs)
        .tri-title
            font-size: 2.05rem !important
            line-height: 3rem !important
        div
            font-size: 1.5rem
        .light-title
            font-size: 3rem