/** Import Bootstrap functions */
@import "~bootstrap/scss/functions"
=Font($value, $weight)
		font-family: $value
		font-display: auto
		font-weight: $weight 

=font-face2($font-family, $file-path, $weight: normal, $style: normal)
	@font-face
		font-family: $font-family
		font-weight: $weight
		font-display: auto
		font-style: $style
		src: url("../fonts/" + $file-path + ".woff") format("woff")